:root {
  --roboto: "Roboto", sans-serif;
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;
  --light: #f9f9f9;
  --blue: #2563eb;
  --dark-blue: #163984;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --blue-background: #d4e5fb;
}

body {
  font-family: var(--roboto);
  background-color: var(--light);
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 30px;
  color: var(--dark-blue);
}

.info {
  border: 2px solid var(--dark-grey);
  border-radius: 8px; /* bo tròn góc*/
  padding: 20px; /* khoảng cách giữa nội dung và viền */
  width: fit-content;
  margin: 20px auto;
}

.info table th {
  color: var(--blue);
}

.info table input {
  margin-top: 10px;
  border-radius: 8px;
  padding: 4px;
  margin: 4px;
}

.info button {
  margin-top: 20px;
  border-radius: 8px;
  padding: 4px;
}

/*
<div class="info">
        <table>
          <tr>
            <th>Mã nhân viên</th>
            <th>Mã máy bay</th>
          </tr>
          <tr>
            <td><input type="text" name="MaNV" /></td>
            <td><input type="number" name="MaMB" /></td>
          </tr>
        </table>
        <button type="submit">Thêm chứng nhận</button>
</div>
*/
