:root {
  --roboto: "Roboto", sans-serif;
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #2563eb;
  --dark-blue: #163984;
  --dark-grey: #9e9e9e;
  --dark: #342e37;
  --blue-background: #d4e5fb;
}

body {
  font-family: var(--roboto);
  background-color: var(--light);
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  color: var(--dark-blue);
  margin-top: 25px;
}

.table-container {
  border: 2px solid var(--dark-grey);
  border-radius: 8px;
  padding: 20px;
  width: fit-content;
  margin: 25px auto;
  background: white;
}
table {
  border-collapse: collapse;
  width: 550px;
}

table th {
  color: var(--blue);
  font-size: 18px;
  padding: 12px;
  border-bottom: 2px solid var(--dark-grey);
}

table td {
  padding: 10px;
  border-bottom: 1px solid var(--dark-grey);
}

/* căn giữa toàn bộ nội dung */
table th,
table td {
  text-align: center;
}

/* hiệu ứng hover */
table tr:hover td {
  background-color: var(--blue-background);
}
